name: Generate Podcast Feeds
on: [push]
jobs:
  build:
    runs-on: buntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Run Feed Generator
        uses: 1016tiffany/podcast-generator@main
        
